@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Hammersmith+One|Lobster|Lobster+Two');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*== body ==*/

body {
    background:#ddd url(food.jpg) no-repeat center center;
    background-size:cover;
    font-family: 'Hammersmith One', sans-serif;
}

/*== header ==*/

.header {
    background:rgba(0,0,0,0.6);
    padding: 1.6rem 0;
}

.header__title {
    color: white;
    opacity:1.0;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 45px;

}

/*== container ==*/

.container {  
    /* index.html & edit.html */
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.editPage { 
    /* edit.html */
    background:  rgba(255,255,255,0.7);
    width: 700px;
    margin-top: 20px;
    padding: 10px;
}

/*== serach ==*/

.box_search { 
   padding-top: 30px; 
}

input {
    font-family: FontAwesome;
}
#search {
    width: 350px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    /* font-family: 'Hammersmith One', sans-serif; */

}
.fontawesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*== recipe elem in index.html ==*/

.box_recipe {
    width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}

.recipeDiv {
    background: rgba(255, 255, 255, 0.7);
    width: 450px;
    height: 45px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    text-overflow: ellipsis; 
    white-space: nowrap;     
    overflow: hidden;     
}

.recipeDiv:hover {
    background:rgba(242, 165, 64, 0.82);
    color: black;
}

a {
    color: gray;
    font-size: 22px;
    text-decoration: none ;
}

p {
    padding-top: 5px;
}

/*== button ==*/

.box_button{
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    margin: 4px;
    width: 200px;
    margin: 0 30 0 30px;
    font-family: 'Hammersmith One', sans-serif;

}

#add {
    background: #86d1f0;
}

#save {
    background: green;
    color: white;
}

#delete {
    background: red;
}

#addIngredients {
    padding: 8px;
    font-size: 14px;
    margin-left: 4px;
    width: 100px;
    background:gray;
}

/*==  edit.html ==*/

h2 {
    margin: 20px;
}

#lastEdited {
    padding-top: 10px;
}

/*==  title & discription  ==*/

.box_title_disc {
    width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}

.input {
    display: block;
    margin: 0 auto;  
    font-family: 'Hammersmith One', sans-serif;

}

#title {
    width: 600px;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
}

#disc {
    width: 600px;
    height: 150px;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
}


/*== ingredients ==*/

.input_inline {
     display: inline;
}

.box_Ingredients {
    margin: 30px;
} 

#textIngredients {
    width: 300px;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;

}

#ingEl {
   
    background:rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 40px;
    margin: 0 auto ;
    padding: 10px; 
    text-align: left; 
    margin-bottom: 7px;
}

#xEl {
    padding: 5px;
    width: 30px;
    margin-left: 10px;
    float: right;
}

